.list  {
    margin-bottom: 5%;

}
.list-table  {
    height: 577px;
    overflow-y: scroll !important;
}


.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid var(--color-white);
    font-style: 13px;

}

.list-table-format b {
    color: var(--color-white);
}

.list-table-format img {
    width: 50px;
}

@media (max-width: 600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format b {
        display: none;
    }
}

.curser {
    cursor: pointer;
}

.login-popup {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
    justify-content: center;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: var(--color-golden);
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-input input {
    outline: none;
    border: 1px solid var(--color-golden);
    padding: 10px;
    border-radius: 4px;
}
